body {
    margin: 0;
    overflow: hidden;
    background-color: #f42121;
}

.flower {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #ffd700; /* Yellow color for the flower center */
    border-radius: 50%;
    z-index: 2; /* Ensure the center is above the petals */
}

.petals {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.petal {
    position: absolute;
    width: 10px;
    height: 40px;
    background-color:   #ff0000; /* Red color for the petals */
    border-radius: 5px;
    transform-origin: 50% 100%;
}

.petal:nth-child(odd) {
    transform: rotate(45deg);
}

.petal:nth-child(even) {
    transform: rotate(-45deg);
}

